### Eclipse
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.project
.settings/
.loadpath
.externalToolBuilders/
*.launch

### IDEA
.idea/*
*.ipr
*.iws
*/*.iml

### Maven
target/
*.iml
/tor-binary-resources/src
/tor-binary-geoip/src
/tor-binary-linux32/src
/tor-binary-linux64/src
/tor-binary-linuxaarch64/src
/tor-binary-macos/src
/tor-binary-windows/src
